.black {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 75%;
	z-index: 10;
}

.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 470px;
	height: 314px;

	background: #ffffff;
	border-radius: 16px;
	opacity: 100%;

	z-index: 11;
}

.head {
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;

	color: #2a2c2a;

	margin: 40px 0px 0px 40px;
}

.input__container {
	margin: 32px 40px 0px 40px;
}

.input__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;

	color: #7c807d;

	margin-bottom: 8px;
}

.input {
	box-sizing: border-box;
	width: 390px;
	height: 56px;

	background: #f2f2f2;

	border: 2px solid #d7d7d7;
	border-radius: 8px;

	padding: 0px 20px 0px 20px;
	font-size: 24px;
	font-family: 'Inter';

	&:focus {
		outline: none;
		border: 2px solid #6b6b6b;
	}
}

.input__invalid {
	box-sizing: border-box;
	height: 56px;
	width: 390px;
	background: #f2f2f2;

	border: 2px solid #d7d7d7;
	border-radius: 8px;

	padding: 0px 20px 0px 20px;
	font-size: 24px;
	font-family: 'Inter';

	&:focus {
		outline: none;
		border: 2px solid #6b6b6b;
	}

	&:invalid {
		animation: shake 0.3s;
		border-color: rgb(255, 92, 92);
	}
}

@keyframes shake {
	25% {
		transform: translateX(4px);
		border-color: rgb(255, 92, 92);
	}
	50% {
		transform: translateX(-4px);
		border-color: rgb(255, 92, 92);
	}
	75% {
		transform: translateX(4px);
		border-color: rgb(255, 92, 92);
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.buttons__close {
	width: 97px;
	height: 42px;
	margin: 40px 0px 40px 40px;
	background: #ebebeb;
	border-radius: 8px;
	border: none;

	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #2a2c2a;
	font-family: 'Inter';
	cursor: pointer;
}

.buttons__create {
	width: 97px;
	height: 42px;
	margin: 40px 40px 40px 0px;
	background: #38a8ff;
	border-radius: 8px;
	border: none;

	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	color: #ffffff;
	font-family: 'Inter';
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		background: #3b95dc;
		transition: 0.2s;
	}
}
