.container {
	display: flex;
	flex-direction: column;
	width: 230px;
	height: 100vh;
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(92, 102, 107, 0.25);
	justify-content: space-between;
	z-index: 10;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 0px;
	}
}

.container__logo {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;

	color: #2a2c2a;

	margin: 32px 0px 19px 18px;

	
}

.container__projects {
	margin: 0px 0px 43px 18px;
}

.menu_text {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
}

.container__nameproject {
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;

	color: #2a2c2a;

	margin: 0px 0px 16px 18px;
}

.logoandtext__block {
	height: 44px;
	display: flex;
	align-items: center;
	margin: 0px 14px 4px 0px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
	text-decoration: none;
	color: #2a2c2a;

	&:hover {
		background: #e9eef1;
		box-shadow: inset 0px 0px 6px rgba(133, 154, 165, 0.25);
		transition: 0.2s;
	}
}

.logoandtext__active {
	height: 44px;
	display: flex;
	align-items: center;
	margin: 0px 14px 4px 0px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
	text-decoration: none;
	color: #2a2c2a;

	background: #cfe3f2;
	box-shadow: inset 0px 0px 6px rgba(133, 154, 165, 0.25);
	transition: 0.2s;
}

.project {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/project.svg') center;
	margin: -1px 9px 0px 4px;
}

.pattern {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/pattern.svg') center;
	margin: -1px 9px 0px 4px;
}

.newpost {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/newpost.svg') center;
	margin: -1px 9px 0px 4px;
}

.posts {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/post.svg') center;
	margin: -1px 9px 0px 4px;
}

.draft {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/draft.svg') center;
	margin: -1px 9px 0px 4px;
}

.talk {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/talk.svg') center;
	margin: -1px 9px 0px 4px;
}

.anal {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/anal.svg') center;
	margin: -1px 9px 0px 4px;
}

.settings {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/settings.svg') center;
	margin: -1px 9px 0px 4px;
}

.container__menu {
	margin: 0px 0px 43px 18px;
	flex-direction: column;
}

.char {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #fff;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #838383;
	margin-right: 10px;
}

.user {
	display: flex;
	align-items: center;
	height: 30px;
	margin-bottom: 20px;
}

.container__user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 500;
	font-size: 16px;
	background: #f5f5f5;
	color: rgb(87, 87, 87);
	padding: 14px 0px 19px 18px;
}

.payy {
	display: flex;
	align-items: center;
}

.pay {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../../static/pay.svg') center no-repeat;
	margin: 0px 12px 0px 2px;
}

.texttopay {
	color: rgb(87, 87, 87);
}
