@import '../../variables.scss';

.container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 180px;
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(92, 102, 107, 0.25);
	border-radius: 8px;
	margin-right: 24px;
	margin-bottom: 24px;
	padding: 8px 14px 8px 14px;
	cursor: pointer;
	transition: 0.2s;
}

.head {
	display: flex;
	margin-bottom: 10px;
}

.head__text {
	width: 122px;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #2a2c2a;
}

.main {
	@include font-400;
	overflow: hidden;
	word-break: break-word;
	white-space: wrap;
	max-height: 130px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}





