.black {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 75%;
    z-index: 10;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 314px;

    background: #FFFFFF;
    border-radius: 16px;
    opacity: 100%;

    z-index: 11;
}

.head {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    color: #2A2C2A;

    margin: 40px 0px 0px 40px;
}

.input__container {
    margin: 32px 40px 0px 40px;
}

.input__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    color: #7C807D;

    margin-bottom: 8px;
}

.input {
    box-sizing: border-box;
    width: 390px;
    height: 56px;

    background: #F2F2F2;

    border: 2px solid #D7D7D7;
    border-radius: 8px;

    padding: 0px 20px 0px 20px;
    font-size: 24px;
    font-family: 'Inter';

    &:focus {
        outline: none;
        border: 2px solid #6b6b6b;
    }
}

.input__invalid {
    box-sizing: border-box;
    height: 56px;
    width: 390px;
    background: #F2F2F2;

    border: 2px solid #D7D7D7;
    border-radius: 8px;

    padding: 0px 20px 0px 20px;
    font-size: 24px;
    font-family: 'Inter';

    &:focus {
        outline: none;
        border: 2px solid #6b6b6b;
    }

    &:invalid {
        animation: shake .3s;
        border-color: rgb(255, 92, 92);
    }
}

@keyframes shake {
    25% {transform: translateX(4px); border-color: rgb(255, 92, 92);}
    50% {transform: translateX(-4px); border-color: rgb(255, 92, 92);}
    75% {transform: translateX(4px); border-color: rgb(255, 92, 92);}   
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons__close {
    width: 97px;
    height: 42px;
    margin: 40px 0px 40px 40px;
    background: #EBEBEB;
    border-radius: 8px;
    border: none;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2A2C2A;
    font-family: 'Inter';
    cursor: pointer;
}

.buttons__create {
    width: 97px;
    height: 42px;
    margin: 40px 40px 40px 0px;
    background: #38A8FF;
    border-radius: 8px;
    border: none;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    font-family: 'Inter';
    cursor: pointer;
    transition: .2s;

    &:hover {
        background: #3B95DC;
        transition: .2s;
    }
}